#!/usr/bin/zsh

PATH=$PATH:{{ home_dir }}/{{ venv}}/bin
alias python="{{ home_dir }}/{{ venv }}/bin/python"
alias pip="{{ home_dir }}/{{ venv }}/bin/pip"
alias d="docker"
alias cat="bat"
alias ap_system="cd {{ home_dir }}/git/priv/desktop/ansible; sudo ansible-playbook --tag system -v main.yml; cd - "
alias ap_user="cd {{ home_dir }}/git/priv/desktop/ansible; ansible-playbook --tag user -v main.yml; cd - "

# Azure
{% for env in az_envs %}
alias az-{{ env }}="docker run -ti -v {{ az_user.home }}/{{ env }}:{{ az_user.home }} {{ az_img.name }}:{{ az_img.tag }} az"
alias k9s-{{ env }}="docker run -ti -p 8080:8080 -v {{ az_user.home }}/{{ env }}:{{ az_user.home }} {{ az_img.name }}:{{ az_img.tag }} k9s"
alias helm-{{ env }}="docker run -ti -v {{ az_user.home }}/{{ env }}:{{ az_user.home }} {{ az_img.name }}:{{ az_img.tag }} helm"
{% endfor %}

function discover_mon() {
    LAP="eDP-1"
    MON=$(xrandr | grep " connected " | grep -v $LAP | awk '{print $1}')
    if [[ $MON =~ "HDMI" ]] && [[ $MON =~ "DP-" ]]
    then
	MON=$(echo $MON | egrep ^DP)
    fi
}

function xr_my_mon() {
    discover_mon
    xrandr --output $MON --auto
    xrandr --output $LAP --auto
    xrandr --output $MON --right-of $LAP
    xrandr --output $MON --primary
}

function xr_lap_mon_off () {
    discover_mon
    xrandr --output $LAP --off
}

function xr_lap_mon_on () {
    discover_mon
    xrandr --output $LAP --auto
}

function xr_lap_right() {
    discover_mon
    xrandr --output $MON --auto
    xrandr --output $LAP --auto
    xrandr --output $LAP --right-of $MON
    xrandr --output $MON --primary   
}

function xr_lap_left() {
    discover_mon
    xrandr --output $MON --auto
    xrandr --output $LAP --auto
    xrandr --output $LAP --left-of $MON
    xrandr --output $MON --primary
}

function xr_lap_below_mon () {
    discover_mon
    xrandr --output $MON --auto
    xrandr --output $LAP --auto
    xrandr --output $MON --primary    
    xrandr --output $LAP --below $MON
}
