PATH=$PATH:{{ home_dir }}/{{ venv}}/bin
alias python="{{ home_dir }}/{{ venv }}/bin/python"
alias pip="{{ home_dir }}/{{ venv }}/bin/pip"
alias d="docker"
alias cat="bat"
alias ap="cd {{ home_dir }}/git/priv/desktop/ansible; sudo ansible-playbook -v main.yml; cd - "

# Azure
{% for env in az_envs %}
alias az-{{ env }}="docker run -ti -v {{ az_user.home }}/{{ env }}:{{ az_user.home }} {{ az_img.name }}:{{ az_img.tag }} az"
alias k9s-{{ env }}="docker run -ti -v {{ az_user.home }}/{{ env }}:{{ az_user.home }} {{ az_img.name }}:{{ az_img.tag }} k9s"
{% endfor %}

