[Unit]
Description=Pseudo random ProtonVPN exit node

[Service]
Type=simple
Environment=countries={{ protonvpn_countries | join(',') }}
ExecStart={{ home_dir }}/bin/randomize_pvpn

[Install]
WantedBy=default.target
